services:
  db:
    image: postgres:15
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M # Limita o uso de RAM do banco de dados  
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: boavista_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d boavista_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: