@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-purple: #e8def8;
  --color-brand-dark: #1d192b;
  --color-brand-gray: #49454f;
}

:root {
  background-color: #ededed;
  color: #49454f;
  /* Transição de cor suave para o fundo */
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.dark {
  background-color: #121212;
  color: #ededed;
}


.layout-transition {
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
              margin 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
              left 0.5s cubic-bezier(0.4, 0, 0.2, 1),
              transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

@keyframes shake-animation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}

.animate-plate-shake {
  animation: shake-animation 0.25s cubic-bezier(.36,.07,.19,.97) both !important;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shine {
  from { left: -100%; }
  to { left: 150%; }
}